statemachine/stock_trader.asl.json
{
    "Comment": "A state machine that does mock stock trading.",
    "StartAt": "Set User to S3",
    "States": {
        "Set User to S3": {
            "Type": "Task",
            "Resource": "${SetUserFunctionArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 15,
                    "MaxAttempts": 5,
                    "BackoffRate": 1.5
                }
            ],
            "Next": "Fetch User Map"
        },
        "Fetch User Map": {
            "Type": "Map",
            "InputPath": "$",
            "ItemsPath": "$.user_id_list",
            "Parameters": {
                "lower_user_list.$": "$$.Map.Item.Value",
                "s3_key.$": "$.s3_key"
            },
            "MaxConcurrency": 0,
            "Iterator": {
                "StartAt": "Get User from S3",
                "States": {
                    "Get User from S3": {
                        "Type": "Task",
                        "Resource": "${GetUserFromS3FunctionArn}",
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "States.TaskFailed"
                                ],
                                "IntervalSeconds": 15,
                                "MaxAttempts": 5,
                                "BackoffRate": 1.5
                            }
                        ],
                        "Next": "Save User to DynamoDB"
                    },
                    "Save User to DynamoDB": {
                        "Type": "Task",
                        "Resource": "${SaveUserToDynamoDBFunctionArn}",
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "States.TaskFailed"
                                ],
                                "IntervalSeconds": 15,
                                "MaxAttempts": 5,
                                "BackoffRate": 1.5
                            }
                        ],
                        "End": true
                    }
                }
            },
            "End": true
        }
    }
}
